.parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    width: 100vw;
    height: auto;
    min-height: 800px;
    background-color: rgb(131, 95, 160);
    background-repeat: no-repeat;
    background-size: cover;
}
