

.builtin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    transform: scale(1.1);
}

.porch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    transform: scale(1.1);
}

.headerCard {
    margin: 0;
    width: 50vw;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: inherit;
    font-size: 1.3rem;
}

.topHomeCard {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 70vw;
    font-size: 1.5rem;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: inherit;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 -20px 0;
    width: 50vw;
    font-size: 1.5rem;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: inherit;
}

.vidCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0 0 0;
    width: 52vw;
    font-size: 1.5rem;
    border: none;
    color: black;
    text-align: center;
    background-color: inherit;
}

.fbVidEmb {
    margin: 35px 0 0 0;
}

.redSection {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    width: 100vw;
    height: auto;
    background-color: rgb(191, 10, 48);
}

.vidSection {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    width: 100vw;
    height: auto;
    background-color: rgb(206, 206, 206);
}