#navContainer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 150px;
    background-color: rgb(255, 255, 255);
}

nav {
    font-size: 1.3rem;
    padding-right: 120px;
}

#navContainer img {
    margin: 0;
    width: auto;
    height: 150px;
}

a {
    margin: 0 10px;
}