#navContainer {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 150px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-bottom: 5px solid rgba(92, 92, 92, 0.397);
}

nav {
    font-size: 1.3rem;
    padding-right: 120px;
}

#navContainer img {
    margin: 0;
    width: auto;
    height: 140px;
}

a {
    margin: 0 10px;
}