.section {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    width: 100vw;
    height: auto;
    background-color: rgb(191, 10, 48);
}